* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: white;
}
body,html{
    height: 100%;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
.clear{
    clear: both;
}
a{
    cursor:pointer;
    cursor :pointer;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    background-color:#2c3e50;
    border: 1px solid white;
    color:white;
}
a:hover{
    text-decoration: none;
    background-image:linear-gradient(grey,#2c3e50,grey);
    color:white;
}
.box{
    border-radius : 5px;
}